<form method="POST" style="display: inline-block" action="<%= url %>?_method=DELETE">
  <button class="btn btn-outline-danger btn-sm" type="submit" title="Usuń"
    onclick="return confirm('Czy na pewno chcesz usunąć ten wpis?');">
    <i class="fas fa-trash"></i>
  </button>
</form>